# Your Title Here

**Name(s)**: (your name(s) here)

**Website Link**: (your website link)

## Code

In [2]:
import pandas as pd
import numpy as np
import os

import plotly.express as px
pd.options.plotting.backend = 'plotly'

### Cleaning and EDA

In [3]:
# TODO

rows_to_skip = list(range(5))
df = pd.read_csv('outage.csv', skiprows=rows_to_skip, index_col='OBS')

# Combine the units line and column names, drop unecessary rows and columns
column = np.array(df.columns).astype('str')
unites = np.array(df.iloc[0].fillna('')).astype('str')
unites = ["(" + i + ")" for i in unites]
for i in range(len(unites)):
    if unites[i] == '()':
        unites[i] = ''
combined_column = np.core.defchararray.add(column, unites)
df.columns = combined_column
df = df.reset_index().drop(0).drop('variables(Units)', axis=1).reset_index(drop=True)

In [20]:
df['YEAR'] = df['YEAR'].astype('int')
# Combine 'OUTAGE.START.DATE' and 'OUTAGE.START.TIME' into a new pd.Timestamp column called 'OUTAGE.START'
start_time = df['OUTAGE.START.TIME(Hour:Minute:Second (AM / PM))']
start_date = df['OUTAGE.START.DATE(Day of the week, Month Day, Year)']
df["OUTAGE.START"] = pd.to_datetime(start_date + " " + start_time)
# combine 'OUTAGE.RESTORATION.DATE' and 'OUTAGE.RESTORATION.TIME' into a new pd.Timestamp column called 'OUTAGE.RESTORATION'.
end_time = df['OUTAGE.RESTORATION.TIME(Hour:Minute:Second (AM / PM))']
end_date = df['OUTAGE.RESTORATION.DATE(Day of the week, Month Day, Year)']
df["OUTAGE.RESTORATION"] = pd.to_datetime(end_date + " " + end_time)
df[['OUTAGE.RESTORATION', 'OUTAGE.START']]

      OUTAGE.RESTORATION        OUTAGE.START
0    2011-07-03 20:00:00 2011-07-01 17:00:00
1    2014-05-11 18:39:00 2014-05-11 18:38:00
2    2010-10-28 22:00:00 2010-10-26 20:00:00
3    2012-06-20 23:00:00 2012-06-19 04:30:00
4    2015-07-19 07:00:00 2015-07-18 02:00:00
...                  ...                 ...
1529 2011-12-06 20:00:00 2011-12-06 08:00:00
1530                 NaT                 NaT
1531 2009-08-29 23:53:00 2009-08-29 22:54:00
1532 2009-08-29 14:01:00 2009-08-29 11:00:00
1533                 NaT                 NaT

[1534 rows x 2 columns]

In [21]:
df.columns

Index(['OBS', 'YEAR', 'MONTH', 'U.S._STATE', 'POSTAL.CODE', 'NERC.REGION',
       'CLIMATE.REGION', 'ANOMALY.LEVEL(numeric)', 'CLIMATE.CATEGORY',
       'OUTAGE.START.DATE(Day of the week, Month Day, Year)',
       'OUTAGE.START.TIME(Hour:Minute:Second (AM / PM))',
       'OUTAGE.RESTORATION.DATE(Day of the week, Month Day, Year)',
       'OUTAGE.RESTORATION.TIME(Hour:Minute:Second (AM / PM))',
       'CAUSE.CATEGORY', 'CAUSE.CATEGORY.DETAIL', 'HURRICANE.NAMES',
       'OUTAGE.DURATION(mins)', 'DEMAND.LOSS.MW(Megawatt)',
       'CUSTOMERS.AFFECTED', 'RES.PRICE(cents / kilowatt-hour)',
       'COM.PRICE(cents / kilowatt-hour)', 'IND.PRICE(cents / kilowatt-hour)',
       'TOTAL.PRICE(cents / kilowatt-hour)', 'RES.SALES(Megawatt-hour)',
       'COM.SALES(Megawatt-hour)', 'IND.SALES(Megawatt-hour)',
       'TOTAL.SALES(Megawatt-hour)', 'RES.PERCEN(%)', 'COM.PERCEN(%)',
       'IND.PERCEN(%)', 'RES.CUSTOMERS', 'COM.CUSTOMERS', 'IND.CUSTOMERS',
       'TOTAL.CUSTOMERS', 'RES.CUST.PCT(%)', 'COM.CUST.PCT(%)',
       'IND.CUST.PCT(%)', 'PC.REALGSP.STATE(USD)', 'PC.REALGSP.USA(USD)',
       'PC.REALGSP.REL(fraction)', 'PC.REALGSP.CHANGE(%)', 'UTIL.REALGSP(USD)',
       'TOTAL.REALGSP(USD)', 'UTIL.CONTRI(%)', 'PI.UTIL.OFUSA(%)',
       'POPULATION', 'POPPCT_URBAN(%)', 'POPPCT_UC(%)',
       'POPDEN_URBAN(persons per square mile)',
       'POPDEN_UC(persons per square mile)',
       'POPDEN_RURAL(persons per square mile)', 'AREAPCT_URBAN(%)',
       'AREAPCT_UC(%)', 'PCT_LAND(%)', 'PCT_WATER_TOT(%)',
       'PCT_WATER_INLAND(%)', 'start_datetime', 'OUTAGE.START',
       'OUTAGE.RESTORATION'],
      dtype='object')

### Assessment of Missingness

In [ ]:
# TODO

### Hypothesis Testing

In [ ]:
# TODO